{
	http_port 3000
	admin off
}

:3000 {
	root * /srv/dist

	route {
		handle /sitemap.xml {
			rewrite * /api{uri}

			reverse_proxy {$BACKEND_URL} {
				header_up Host {$BACKEND_HOST}
			}
		}

		@immutable {
			path /assets/*
		}
		
		handle @immutable {
			header Cache-Control "public, max-age=31536000, immutable"
			file_server
		}

		# Handle SPA fallback - No Cache for index.html to ensure updates
		handle {
			header Cache-Control "no-cache"
			try_files {path} /index.html
			file_server
			encode zstd gzip
		}
	}
}
